.vscode
.idea
.gradle
build/*
.vscode/launch.json
.vscode/settings.json
.vscode/settings.json
.gradle/8.14.3/gc.properties
.gradle/8.14.3/checksums/checksums.lock
.gradle/8.14.3/checksums/md5-checksums.bin
.gradle/8.14.3/checksums/sha1-checksums.bin
.gradle/8.14.3/executionHistory/executionHistory.bin
.gradle/8.14.3/executionHistory/executionHistory.lock
.gradle/8.14.3/fileChanges/last-build.bin
.gradle/8.14.3/fileHashes/fileHashes.bin
.gradle/8.14.3/fileHashes/fileHashes.lock
.gradle/8.14.3/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
build/resolvedMainClassName
build/classes/java/main/com/example/demo/DemoApplication.class
build/classes/java/test/com/example/demo/DemoApplicationTests.class
build/reports/problems/problems-report.html
build/resources/main/application.properties
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/compileTestJava/previous-compilation-data.bin
.vscode/settings.json
